/*All light and dark classed elements/items*/
.light {
    background-color: white;
    border: black;
    border-bottom: black;
    border-top: black;
    color: black;
}

.dark {
    background-color: black;
    border: white;
    border-bottom: white;
    border-top: white;
    color: white;
}

/*Submit button should have opposite colors*/
.light #submitButton {
        background-color: black;
        color: white;
}

.dark #submitButton {
    background-color: white;
    color: black;
}

/*Ensuring body text remains black on this section due to white photo background*/
#aboutThisBlog p {
    color: black;
}

/*All shared items: header, hr lines, footer*/
header {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid;
    border-top:  3px solid;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}



header h1 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

#headerButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} 


hr {
    margin-top: 5px;
    margin-bottom:5px;
    border: 2px solid;
}

footer {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid;
    border-top:  3px solid;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 20px;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
  }


footer a {
    text-decoration: none;
}

/* unvisited link */
    .dark a:link  {
        color: white;
    }
  
  .light a:link {
    color: black;
  }

  /* visited link */
  .dark a:visited {
    color: #00fffb;
  }

  .light a:visited {
    color: #08655c;
  }
  
  /* mouse over link */
  .dark a:hover {
    color: #FF00FF;
  }

  .light a:hover {
    color: #5a1eff;
  }
  
  /* selected link */
  .dark a:active {
    color: #00ff6a;
  }

  .light a:active {
    color: #4b6304;
  }